@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import "tailwindcss";


@theme {
  --color-primary: #0A2472;
  --color-secondary: #58A7B8; 
  --color-light: #c9e8ec;
  --color-dark: #282737;

  --color-card: #fafafa;
  
  --color-success: #408B62;
  --color-warning: #BE7B2A;
  --color-danger: #F44336;

  --font-merienda: 'Merienda', cursive;
}